footer {
    text-align: center;
    transition: 0.8s all;
    margin: 115px 0;
}
footer img {
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
}
footer img:hover {
   background-color: var(--main-color);
}
